<div class="card login-card shadow-lg mx-auto my-5">
  <div class="card-body">
    <h1 class="card-title text-center mt-3 mb-5">Log in</h1>

    <div class="col mx-auto">
      <%= render partial: 'sessions/form', user: @user %>
    </div>
  </div>
</div>