<h1>Editing Activity Participant</h1>

<%= render 'form', activity_participant: @activity_participant %>

<%= link_to 'Show', @activity_participant %> |
<%= link_to 'Back', activity_participants_path %>
