<h1 class="text-center">You Are Welcomed</h1>
<hr>
<!--<div class="card text-center" style="width: 30rem;">-->
<!--  <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Card title</h5>-->
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--  </div>-->
<!--</div>-->
<div id="scroll_container" style="height: 200px;overflow: scroll">
  <div class="card-deck">
    <div class="card text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a href="#" class="btn btn-primary">Join!</a>

      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a href="#" class="btn btn-primary">Join!</a>

      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a href="#" class="btn btn-primary">Join!</a>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a href="#" class="btn btn-primary">Join!</a>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a href="#" class="btn btn-primary">Join!</a>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a href="#" class="btn btn-primary">Join!</a>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a href="#" class="btn btn-primary">Join!</a>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a href="#" class="btn btn-primary">Join!</a>
      </div>
    </div>
  </div>

</div>
<script>
    var controlFlag = true// used to switch off the endless refreshing
    $('#scroll_container').on("scroll", function () {
        var height = $(this).height()
        var scrollTop = $(this).scrollTop()
        var totalHeight = this.scrollHeight
        if (totalHeight - scrollTop - height < 20) {
            if (controlFlag) {
                console.log("ajax!")
                //$.ajax()// do the ajax to add more content and set the controlFlag to true in the callback function
            }
            controlFlag = false// switch off
        }
    })

</script>
<script>
    var interval = setInterval(() => {
        navigator.geolocation.getCurrentPosition(({coords}) => {
            console.log(`latitude:${coords.latitude},longitude:${coords.longitude}`)
            //$.ajax() //  use ajax to upload user location
        })
    }, 10000)
    $(document).on('turbolinks:load', () => {
        clearTurboLink = () => {
            clearInterval(interval)
            $(document).off('turbolinks:load', clearTurboLink)
        }
        $(document).on('turbolinks:load', clearTurboLink)
    })

</script>