<h1 class="text-center">You Are Welcomed</h1>

<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-lg btn-primary float-right" data-toggle="modal" data-target="#exampleModal">-->
<!--  Create Poster-->
<!--</button>-->

<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        ...-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        <button type="button" class="btn btn-primary">Save changes</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create New Poster !</button>
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>-->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button>-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>


<br>
<br>
<hr>

<!--<div id="scroll_container" style="height: 200px;overflow: scroll">-->
  <div class="card-deck">
    <div class="card text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a href="#" class="btn btn-primary">Join!</a>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a href="#" class="btn btn-primary">Join!</a>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a href="#" class="btn btn-primary">Join!</a>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a href="#" class="btn btn-primary">Join!</a>
      </div>
    </div>
    <div class="card text-center">
      <img class="card-img-top" src="https://softcover.s3.amazonaws.com/636/ruby_on_rails_tutorial_4th_edition/images/figures/kitten.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
        <a href="#" class="btn btn-primary">Join!</a>
      </div>
    </div>


  </div>
<!--</div>-->

<script>
    var controlFlag = true// used to switch off the endless refreshing
    $('#scroll_container').on("scroll", function () {
        var height = $(this).height()
        var scrollTop = $(this).scrollTop()
        var totalHeight = this.scrollHeight
        if (totalHeight - scrollTop - height < 20) {
            if (controlFlag) {
                console.log("ajax!")
                //$.ajax()// do the ajax to add more content and set the controlFlag to true in the callback function
            }
            controlFlag = false// switch off
        }
    })

</script>

<script>
    var interval = setInterval(() => {
        navigator.geolocation.getCurrentPosition(({coords}) => {
            console.log(`latitude:${coords.latitude},longitude:${coords.longitude}`)
            //$.ajax() //  use ajax to upload user location
        })
    }, 10000)
    $(document).on('turbolinks:load', () => {
        clearTurboLink = () => {
            clearInterval(interval)
            $(document).off('turbolinks:load', clearTurboLink)
        }
        $(document).on('turbolinks:load', clearTurboLink)
    })

</script>