<h1 class="text-center my-4 title-big">Find Interested Activity</h1>

<div class="row header-row mx-0 px-3">
  <!--  <div class="col  align-self-start p-0" id="header-col-search">-->
  <!--    <form class="form-inline my-2 my-lg-0 ">-->
  <!--    <input class="form-control mr-sm-2" type="text" placeholder="Search">-->
  <!--    <button class="btn text-white" type="submit">Search</button>-->
  <!--    </form>-->
  <!--  </div>-->

  <div class="col align-self-end p-0" id="header-col-button">
    <!-- Button trigger modal -->
    <% if !logged_in? %>
      <!--  render login modal partial -->
      <%= link_to "Create Your Poster !", login_path, {remote: true, 'data-toggle': "modal", 'data-target': "#login", class: "btn text-white float-right"} %>
    <% else %>
      <!--  render create poster form partial-->
      <button type="button" class="btn text-white float-right" id="new_poster_button">Create Your Poster !</button>
    <% end %>
  </div>
</div>


<!-- New poster Modal -->
<!--TODO emoji support-->
<div class="modal fade" id="newPosterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">New Poster</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="new_poster_form"></div>
    </div>
  </div>
</div>

<hr class="my-4">

<div id="post_display_container" class="card-columns">
  <% @activities.reverse_each do |activity| %>
    <%= render partial: 'activities/poster', locals: {activity: activity} %>
  <% end %>
</div>

<script>
    var controlFlag = true; // used to switch off the endless refreshing
    $('#scroll_container').on("scroll", function () {
        var height = $(this).height();
        var scrollTop = $(this).scrollTop();
        var totalHeight = this.scrollHeight;
        if (totalHeight - scrollTop - height < 20) {
            if (controlFlag) {
                console.log("ajax!")
                //$.ajax() // do the ajax to add more content and set the controlFlag to true in the callback function
            }
            controlFlag = false // switch off
        }
    });

    var posterModal = $('#newPosterModal');
    var modalBody = posterModal.find('.modal-body');
    $('#new_poster_button').on('click', function () {
        $.ajax({
            url: '<%= new_activity_path %>',
            method: 'get',
            success: function (data) {
                modalBody.html(data);
                posterModal.modal('show')
            }
        })
    })
    posterModal.on('ajax:success', function (event) {
        [data, status, xhr] = event.detail
        posterModal.modal("hide")
        console.log(data)
        refreshPosts()
    }).on('ajax:error', function (event) {
        //TODO
    })

    window.refreshPosts = function () {
        $.ajax({
            url: '<%= refresh_posts_url %>',
            data: {
                page: 1,
                size: 20,
            }
        })
    }
</script>
