$('#post_display_container').html(`
<% @activities.each_slice(20) do |activities| %>
  <div class="card-columns card-block">
  <% activities.each do |activity| %>
    <%= render partial: 'activities/poster', locals: {activity: activity} %>
  <% end %>
  </div>
<% end %>
`)


