<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html.erb -->
  <div class="card not-found-card text-center shadow-lg mx-auto my-5">
    <div class="card-body">
      <h1 class="card-title text-center mt-3 mb-5">Oops</h1>
      <p class="card-text">You may have mistyped the address or the page may have moved.</p>
      <div class="card-footer  bg-transparent ">You can go back,  or try to <%= mail_to 'fanc@brandeis.edu', 'contact us' %> if you need a hand.</div>
    </div>
  </div>
</body>
</html>

