<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html.erb -->
  <div class="card text-center shadow m-5 p-4 mx-auto" style="max-width: 28rem">
    <div class="card-body p-0">
      <h1 class="card-title mb-3" style="color: #F48FB1">Oops</h1>
      <p class="card-text">You may have mistyped the address or the page may have moved.</p>
      <div class="card-footer  bg-transparent ">You can go back,  or try to <%= mail_to 'fanc@brandeis.edu', 'contact us', style: 'color: #F48FB1' %> if you need a hand.</div>
    </div>
  </div>
</body>
</html>
