<p id="notice"><%= notice %></p>

<h1>Activities I Joined</h1>

<table class="table table-striped">
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities_joined.each do |activity| %>
      <tr>
       <td>
         <%= render partial: 'activities/poster', locals: {activity: activity} %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Activities Started By Me</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @activities_started.each do |activity| %>
    <tr>
      <td>
        <%= render partial: 'activities/poster', locals: {activity: activity} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
