<h1 class="title-big text-center">Activities I Joined</h1>
<hr>
<div id="post_display_container_joined" class="poster_blocks">
  <!--<table class="table table-striped">-->
  <!--  <tbody>-->
  <% @activities_joined.each do |activity| %>
    <tr>
      <td>
        <%= render partial: 'activities/poster', locals: {activity: activity} %>
      </td>
    </tr>
  <% end %>
</div>
<!--  </tbody>-->
<!--</table>-->

<h1 class="title-big text-center mt-5">Activities Started By Me</h1>
<hr>
<div id="post_display_container_started" class="poster_blocks">
  <!--<table class="table table-striped">-->
  <!--  <tbody>-->
  <% @activities_started.each do |activity| %>
    <tr>
      <td>
        <%= render partial: 'activities/poster', locals: {activity: activity} %>
      </td>
    </tr>
  <% end %>
  <!--  </tbody>-->
  <!--</table>-->
</div>
<script>
    window.refreshPosts = function () {
        $.ajax({
            url: '<%= refresh_posts_achievements_url %>',
            data: {
                page: 1,
                size: 20,
            }
        })
    }
</script>