<p id="notice"><%= notice %></p>

<h1 class="text-center">Activities I Joined</h1>
<hr>
<div class="card-columns">
<!--<table class="table table-striped">-->
<!--  <tbody>-->
  <% @activities_joined.each do |activity| %>
      <tr>
       <td>
         <%= render partial: 'activities/poster', locals: {activity: activity} %>
       </td>
      </tr>
    <% end %>
</div>
<!--  </tbody>-->
<!--</table>-->

<h1 class="text-center mt-5">Activities Started By Me</h1>
<hr>
<div class="card-columns">
<!--<table class="table table-striped">-->
<!--  <tbody>-->
  <% @activities_started.each do |activity| %>
    <tr>
      <td>
        <%= render partial: 'activities/poster', locals: {activity: activity} %>
      </td>
    </tr>
  <% end %>
<!--  </tbody>-->
<!--</table>-->
</div>