<form>
  <div class="form-group">
    <img id="photo_upload_preview" class="ml-0" style="width: 100%"/>
    <div class="input-group my-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input"
               data-file-refresh="true" data-image-push-to="photo_upload_preview">
        <label class="custom-file-label">Choose file</label>
      </div>
    </div>
  </div>
  <div class="actions float-right">
    <button class="btn btn-primary submit">submit</button>
  </div>
</form>
