/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* header */

.dropdown:hover .dropdown-menu {
  display: block;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 95%;
  margin-top: 45px;
  @include box_sizing;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


//.modal {
//  opacity: 100;
//}

//.card_container {
.card_container {
  margin: auto;
  width: 95%;
  display: flex;

  .card-deck{
    margin: auto;
    width: 100%;
  }

  .card-header {
    border-bottom: 0px;
  }

  .card-title {
    font-family: 'Roboto Slab', serif;
  }

  .card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
  }
}

.card-columns {
  margin: auto;
  flex: auto;
  width: 95%;
}

@media (min-width: 0px) and (max-width: 659px) {
  .card-columns {
    column-count: 1 !important;

  }
}

@media (min-width: 660px) and (max-width: 989px) {
  .card-columns {
    column-count: 2 !important;

  }
}

@media (min-width: 990px) and (max-width: 1319px) {
  .card-columns {
    column-count: 3 !important;

  }
}
@media (min-width: 1320px) and (max-width: 1649px) {
  .card-columns {
    column-count: 4 !important;

  }
}
@media (min-width: 1650px) {
  .card-columns {
    column-count: 5 !important;

  }
}

//@media (min-width: 600px) {
//  .card-columns {
//    -webkit-column-count: 2;
//    -moz-column-count: 2;
//    column-count: 2;
//  }
//}
//
//@media (min-width: 900px) {
//  .card-columns {
//    -webkit-column-count: 3;
//    -moz-column-count: 3;
//    column-count: 3;
//  }
//}
//
//@media (min-width: 1300px) {
//  .card-columns {
//    -webkit-column-count: 4;
//    -moz-column-count: 4;
//    column-count: 4;
//  }
//}
//
//@media (min-width: 2000px) {
//  .card-columns {
//    -webkit-column-count: 5;
//    -moz-column-count: 5;
//    column-count: 5;
//  }
//}
//
//
#new_poster_button {
  margin-right: 4%;
}
