/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "cropper";
@import "users";

// color theme
$material-purple: #CE93D8;
$material-pink: #F48FB1;
$material-blue: #90CAF9;
$material-teal: #80CBC4;
$material-green: #A5D6A7;
$material-orange: #FFAB91;
$material-brown: #BCAAA4;
$material-grey: #BDBDBD;

.material-head-purple {
  background-color: $material-purple !important;
}
.material-body-purple {
  color: $material-purple;
}
.material-footer-purple {
  color: #E1BEE7;
}

.material-head-pink {
  background-color: $material-pink !important;
}
.material-body-pink {
  color: $material-pink;
}
.material-footer-pink {
  color: #F8BBD0;
}

.material-head-blue {
  background-color: $material-blue !important;
}
.material-body-blue {
  color: $material-blue;
}
.material-footer-blue {
  color: #BBDEFB;
}

.material-head-cyan {
  background-color: $material-teal !important;
}
.material-body-cyan {
  color: $material-teal;
}
.material-footer-cyan {
  color: #B2DFDB;
}

.material-head-green {
  background-color: $material-green !important;
}
.material-body-green {
  color: $material-green;
}
.material-footer-green {
  color: #C8E6C9;
}

.material-head-orange {
  background-color: $material-orange !important;
}
.material-body-orange {
  color: $material-orange;
}
.material-footer-orange {
  color: #FFCCBC;
}

.material-head-brown {
  background-color: #BCAAA4 !important;
}
.material-body-brown {
  color: #BCAAA4;
}
.material-footer-brown {
  color: #D7CCC8;
}

.material-head-grey {
  background-color: #BDBDBD !important;
}
.material-body-grey {
  color: #BDBDBD;
}
.material-footer-grey {
  color: #E0E0E0;
}


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* navbar */

.navbar {
  .divider-vertical {
    margin: 0 8px;
    border: 0.6px solid;
    color: #818181;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 95%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.modal-header {
  font-family: 'Rancho', serif;

}

.title-big {
  //font-family: 'Roboto Slab', serif;
  font-family: 'Rancho', serif;
  font-size: 56px;

  //text-shadow: 3px 3px 3px #aaa;
}

.card-columns {
  margin: auto;
  width: 95%;

  .card {
    border-radius: 0.5rem !important;
  }

  .card-header {
    border-bottom: 0;
    border-top-right-radius: 0.4rem !important;
    border-top-left-radius: 0.4rem !important;
  }

  .card-title {
    font-family: 'Roboto Slab', serif;
  }

  .card-text {
    //font-family: 'Roboto', sans-serif;
    font-family: 'Patrick Hand', cursive;

    font-size: 18pt;
  }

  // Extra small devices (portrait phones, less than 576px)
  // No media query for `xs` since this is the default in Bootstrap

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    column-count: 2 !important;

  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    column-count: 3 !important;

  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    column-count: 4 !important;
  }

   //Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    column-count: 5 !important;
  }
}

//@media (min-width: 0px) and (max-width: 659px) {
//  .card-columns {
//    column-count: 1 !important;
//
//  }
//}
//
//@media (min-width: 660px) and (max-width: 989px) {
//  .card-columns {
//    column-count: 2 !important;
//
//  }
//}
//
//@media (min-width: 990px) and (max-width: 1319px) {
//  .card-columns {
//    column-count: 3 !important;
//
//  }
//}
//@media (min-width: 1320px) and (max-width: 1649px) {
//  .card-columns {
//    column-count: 4 !important;
//
//  }
//}
//@media (min-width: 1650px) {
//  .card-columns {
//    column-count: 5 !important;
//
//  }
//}

//.card-container {
//  margin: auto;
//
//  display: flex;
//  flex-flow: column wrap;
//  max-height: 800px;
//  width: 95%;
//
//  align-content: flex-start;
//  .card {
//    margin: 0 8px 8px 0;
//  }
//
//  .card-header {
//    border-bottom: 0px;
//  }
//
//  .card-title {
//    font-family: 'Roboto Slab', serif;
//  }
//  .card-text {
//    font-family: 'Roboto', sans-serif;
//    font-size: 15pt;
//  }
//}

.header-row {
  #header-col-button {
    margin-right: 2.5%;
  }
  #header-col-button {
    margin-right: 2.5%;
  }
  #header-col-search {
    margin-left: 2.5%;
  }
  .btn {
    background-color: #90CAF9;
  }
}

/* avatar image */
.rounded-circle {
}

/* profile page */

.border {
  border-bottom: 1px solid #F1F1F1;
  margin-bottom: 10px;
}

.main-secction {
  box-shadow: 10px 10px 10px;
}

.image-section {
  padding: 0px;
}

.image-section img {
  width: 100%;
  height: 250px;
  position: relative;
}

.user-image {
  position: absolute;
  margin-top: -50px;
}

.user-left-part {
  margin: 0px;
}

.user-image img {
  width: 100px;
  height: 100px;
}

.user-profil-part {
  padding-bottom: 30px;
  background-color: #FAFAFA;
}

.follow {
  margin-top: 70px;
}

.user-detail-row {
  margin: 0px;
}

.user-detail-section2 p {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

.user-detail-section2 {
  margin-top: 10px;
}

.user-detail-section2 span {
  color: #7CBBC3;
  font-size: 20px;
}

.user-detail-section2 small {
  font-size: 12px;
  color: #D3A86A;
}

.profile-right-section {
  padding: 20px 0px 10px 15px;
  background-color: #FFFFFF;
}

.profile-right-section-row {
  margin: 0px;
}

.profile-header-section1 h1 {
  font-size: 25px;
  margin: 0px;
}

.profile-header-section1 h5 {
  color: #0062cc;
}

.req-btn {
  height: 30px;
  font-size: 12px;
}

.profile-tag {
  padding: 10px;
  border: 1px solid #F6F6F6;
}

.profile-tag p {
  font-size: 12px;
  color: black;
}

.profile-tag i {
  color: #ADADAD;
  font-size: 20px;
}

.image-right-part {
  background-color: #FCFCFC;
  margin: 0px;
  padding: 5px;
}

.img-main-rightPart {
  background-color: #FCFCFC;
  margin-top: auto;
}

.image-right-detail {
  padding: 0px;
}

.image-right-detail p {
  font-size: 12px;
}

.image-right-detail a:hover {
  text-decoration: none;
}

.image-right img {
  width: 100%;
}

.image-right-detail-section2 {
  margin: 0px;
}

.image-right-detail-section2 p {
  color: #38ACDF;
  margin: 0px;
}

.image-right-detail-section2 span {
  color: #7F7F7F;
}

.nav-link {
  font-size: 1.2em;
}

.nav-item {
  .avatar {
    align-self: center;
    margin-left: 8px;
    // TODO scale
    width: 44px;
    height: 44px;
    //width: 2rem;
    //height: 2rem;
  }
}

.avatar{
  cursor: pointer;
}


.color-checker {
  input[type="radio"]{
    display: none;
  }

  input[type="radio"] + i {
    opacity: 0;
  }

  input[type="radio"]:checked + i {
    opacity: 1;
  }

  .radio-btn-purple {
      background-color: $material-purple;
  }
  .radio-btn-pink {
    background-color: $material-pink;
  }
  .radio-btn-blue {
    background-color: $material-blue;
  }
  .radio-btn-teal {
    background-color: $material-teal;
  }
  .radio-btn-green {
    background-color: $material-green;
  }
  .radio-btn-orange {
    background-color: $material-orange;
  }
  .radio-btn-brown {
    background-color: $material-brown;
  }
  .radio-btn-grey {
    background-color: $material-grey;
  }
}
