/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "cropper";
@import "animate";
@import "pnotify.custom";
@import "users";
@import "jquery.raty";

// color theme
$material-purple: #CE93D8;
$material-pink: #F48FB1;
$material-blue: #90CAF9;
$material-teal: #80CBC4;
$material-green: #A5D6A7;
$material-orange: #FFAB91;
$material-brown: #BCAAA4;
$material-grey: #BDBDBD;

html {
  font-size: 16px;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  color: $material-blue;
}

.btn-primary {
  background-color: $material-blue !important;
  border: none !important;
}

.material-head-purple {
  background-color: $material-purple !important;
}

.material-body-purple {
  color: $material-purple;
}

.material-footer-purple {
  color: #E1BEE7;
}

.material-head-pink {
  background-color: $material-pink !important;
}

.material-body-pink {
  color: $material-pink;
}

.material-footer-pink {
  color: #F8BBD0;
}

.material-head-blue {
  background-color: $material-blue !important;
}

.material-body-blue {
  color: $material-blue;
}

.material-footer-blue {
  color: #BBDEFB;
}

.material-head-teal {
  background-color: $material-teal !important;
}

.material-body-teal {
  color: $material-teal;
}

.material-footer-teal {
  color: #B2DFDB;
}

.material-head-green {
  background-color: $material-green !important;
}

.material-body-green {
  color: $material-green;
}

.material-footer-green {
  color: #C8E6C9;
}

.material-head-orange {
  background-color: $material-orange !important;
}

.material-body-orange {
  color: $material-orange;
}

.material-footer-orange {
  color: #FFCCBC;
}

.material-head-brown {
  background-color: #BCAAA4 !important;
}

.material-body-brown {
  color: #BCAAA4;
}

.material-footer-brown {
  color: #D7CCC8;
}

.material-head-grey {
  background-color: #BDBDBD !important;
}

.material-body-grey {
  color: #BDBDBD;
}

.material-footer-grey {
  color: #E0E0E0;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.title-big {
  font-family: 'Pacifico', cursive;
  font-size: 2.75em;
  //text-shadow: 2px 2px 2px #aaa;
}

.dropdown .dropdown-menu, .dropleft .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  border: none;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-menu, .dropleft:hover .dropdown-menu {
  max-height: 500px;
  opacity: 1;
  border: none;
  border-radius: 0.5rem;
}

//
//.dropdown:hover .dropdown-menu, .dropleft:hover .dropdown-menu, .dropdown-menu.show {
//  display: block;
//  border: none;
//  border-radius: 0.5rem;
//}

.profile-dropdown {
  width: 15em;
  border: none !important;
  border-radius: .85rem !important;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;

  .profile-card {
    border: none !important;

    .avatar {
      width: 2.5rem;
      height: 2.5rem;
    }

    .card-body {
      font-size: 1em !important;

      .row {
        font-size: .8em !important;

        a {
          border-radius: 1.5rem;
          width: 6.5em;
        }

        a:hover {
          text-decoration: none;
        }
      }
    }
  }
}

/* navbar */

.navbar {
  .navbar-brand {
    //margin-left: 2.5%;
    font-family: 'Pacifico', cursive;
    //font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    padding: 0;
  }

  .navbar-toggler, #navbarSupportedContent {
    //margin-right: 2.5%;
  }

  .divider-vertical {
    margin: 0 8px;
    border: 0.6px solid;
    color: #818181;
  }

  .nav-link {
    font-size: 1.2em;
    cursor: pointer;
  }

  .nav-item {
    .avatar {
      width: 2.75rem;
      height: 2.75rem;
      align-self: center;
      margin-left: 8px;
    }
  }

  @media (min-width: 0px) and (max-width: 575px) {
    .navbar-brand {
      margin-left: 2vw;
    }
    .navbar-toggler, #navbarSupportedContent {
      margin-right: 2vw;
    }
  }
  @media (min-width: 576px) {
    .navbar-brand {
      margin-left: 2.5vw;
    }
    .navbar-toggler, #navbarSupportedContent {
      margin-right: 2.5vw;
    }
  }
  @media (min-width: 851px) {
    .navbar-brand {
      margin-left: 3.5vw;
    }
    .navbar-toggler, #navbarSupportedContent {
      margin-right: 3.5vw;
    }
  }
  @media (min-width: 1151px) {
    .navbar-brand {
      margin-left: 4vw;
    }
    .navbar-toggler, #navbarSupportedContent {
      margin-right: 4vw;
    }
  }
  @media (min-width: 1441px) {
    .navbar-brand {
      margin-left: 5vw;
    }
    .navbar-toggler, #navbarSupportedContent {
      margin-right: 5vw;
    }
  }
  @media (min-width: 2011px) {
    .navbar-brand {
      margin-left: 6.5vw;
    }
    .navbar-toggler, #navbarSupportedContent {
      margin-right: 6.5vw;
    }
  }
}

/* footer */

footer {
  border-top: 1px solid #eaeaea;
  color: #777;

  small {
    margin-left: 2.5%;
  }

  a {
    color: #555;

    &:hover {
      color: #222;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 95%;
  margin-top: 45px;
  @include box_sizing;
}

.invalid-feedback {
  display: block !important;
  color: $material-pink !important;

  //display: none;
}

//.field_with_errors + .invalid-feedback,
//.field_with_errors + .input-group-append + .invalid-feedback,
//.field_with_errors > .form-group > .invalid-feedback  {
//  display: block !important;
//  color: $material-pink;
//}
.field_with_errors {
  padding: 1px;
  flex: 1 1 auto;
  border-radius: 0.5em;

  .form-control {
    border-color: $material-pink;
  }

  .form-control.datetimepicker-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

#error_explanation {
  display: none;

  border-radius: 0.5em;
  background-color: $material-pink;
  padding: 8px 12px;
  margin-bottom: 20px;

  h2 {
    display: none;
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 1.2em;
    margin: -7px -7px 0;
    background-color: $material-pink;
  }

  ul {
    margin: 0;
    padding-left: 20px;
  }

  ul li {
    font-size: 1em;
    color: white;
    list-style: square;
  }
}

.modal {
  .modal-content {
    //border: none;
    border-radius: .5rem;
  }

  #poster-modal-content, .poster-modal-body {
    border-radius: .85rem;
    border: none;

    .poster {
      margin: 0 !important;
    }
  }

  .modal-header {
    .close {
      outline: 0;
    }

    /*.reviews {
      display: block;
    }*/
  }

  .modal-body {
    border: none;
  }

  .form-control {
    border-radius: .5rem;
  }

  .input-group-text {
    background-color: $material-blue;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;

    i {
      color: white;
    }
  }

  .input-group-append > .input-group-text {
    border-bottom-right-radius: 0.5em !important;
    border-top-right-radius: 0.5em !important;
  }

  //.bootstrap-datetimepicker-widget {
  //  i {
  //    color: $material-blue;
  //  }
  //}

  .bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: $material-blue;

    i {
      color: $material-blue;
    }
  }

  .btn {
    border-radius: .5rem;
  }

  .radio-btn-color {
    border-radius: .5rem;
  }

  .btn-group > .btn:hover {
    z-index: 0;
  }

  i {
    font-size: 90%;
  }
}

.login-card {
  max-width: 32em;
  border: none !important;
  border-radius: 1rem !important;

  a {
    color: $material-blue;
  }
}

.not-found-card {
  @extend .login-card;
  max-width: 28rem;

  .card-title, a {
    color: $material-pink;
  }
}

.poster {
  margin: auto;
  border: none !important;
  border-radius: 0.85rem !important;

  .card-header {
    border-bottom: 0;
    border-top-right-radius: 0.85rem !important;
    border-top-left-radius: 0.85rem !important;
    //min-height: 30vw;
  }

  .card-title {
    //font-family: 'Roboto Slab', serif;

    .fas {
      color: #FFF;
      transition: transform 1.5s ease-in-out;
    }

    .fas:hover {
      text-decoration: none;
      transform: rotate(-360deg);
    }
  }

  .card-starter-avatar {
    margin-right: 3px;
  }

  .card-starter-avatar > .avatar {
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 1.5s ease-in-out;
  }

  .card-starter-avatar > .avatar:hover {
    transform: rotate(-360deg);
  }

  .activity-starter-name {
    font-size: 1.2em;
    //font-weight: bolder;
  }

  .activity-update-date {
    font-size: 0.7em;
  }

  .card-title-date, .card-title-time {
    font-size: 1em;
  }

  .card-title-button {
    font-size: 1.6em;
    cursor: pointer;
    .leave {
      color: #D32F2F;
      //background-color: red;
    }
    .leave:hover {
      color: white;
      background-color: #D32F2F;;
    }
  }

  .card-title-place {
    font-size: 1em;
  }

  .card-body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
  }

  .card-footer {
    border-top: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    .row {
      i {
        font-size: 1.1em;
      }

      .comment_box {
        a {
          cursor: pointer;
        }
      }
    }
  }

  .reviews {
    border-bottom: none;
    border-right: none;
    border-left: none;
    border-bottom-right-radius: .85rem;
    border-bottom-left-radius: .85rem;
    .card-title {
      font-size: 1.1em;
    }
    .comment-avatar {
      .avatar {
        width: 1.3em;
        height: 1.3em;
        margin-right: 4px;
      }
      font-size: .9em;
      font-weight: bolder;
    }
    .comment-time {
      font-size: .7em;
    }
    .comment-text {
      font-size: 0.8em;
    }
  }

  .comment-input-group {
    textarea {
      height: 3em;
    }
  }
}

.card-columns {
  margin: auto;

  // Extra small devices (portrait phones, less than 576px)
  // No media query for `xs` since this is the default in Bootstrap
  @media (min-width: 0px) and (max-width: 575px) {
    column-count: 1 !important;
    .card {
      width: 96vw;
      //min-height: 96vmin;
    }

  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    column-count: 2 !important;
    width: 95vw;
    .card {
      width: 47.5vw;
      //min-height: 47.5vw;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 851px) {
    column-count: 3 !important;
    width: 93vw;
    .card {
      width: 31vw;
      //min-height: 31vw;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 1151px) {
    column-count: 4 !important;
    width: 92vw;
    .card {
      width: 23vw;
      //min-height: 23vw;
    }
  }

  //Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1441px) {
    column-count: 5 !important;
    width: 90vw;
    .card {
      width: 18vw;
      //min-height: 18vw;
    }
  }

  // 4k - 2560px
  @media (min-width: 2011px) {
    column-count: 6 !important;
    width: 87vw;
    .card {
      width: 14.5vw;
      //min-height: 14.5vw;
    }
  }
}

.header-row {
  #header-col-button {
    margin-right: 2.5%;
  }

  #header-col-search {
    margin-left: 2.5%;
  }

  .form-control {
    border-radius: 1.5rem !important;
  }

  .btn {
    border-radius: 1.5rem !important;
    background-color: $material-blue;
  }
}

/* avatar image */
.rounded-circle {
}

/* profile page */

.border {
  border-bottom: 1px solid #F1F1F1;
  margin-bottom: 10px;
}

.main-secction {
  box-shadow: 10px 10px 10px;
}

.image-section {
  padding: 0px;
}

.image-section img {
  width: 100%;
  height: 250px;
  position: relative;
}

.user-image {
  position: absolute;
  margin-top: -50px;
}

.user-left-part {
  margin: 0px;
}

.user-image img {
  width: 100px;
  height: 100px;
}

.user-profil-part {
  padding-bottom: 30px;
  background-color: #FAFAFA;
}

.follow {
  margin-top: 70px;
}

.user-detail-row {
  margin: 0px;
}

.user-detail-section2 p {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

.user-detail-section2 {
  margin-top: 10px;
}

.user-detail-section2 span {
  color: #7CBBC3;
  font-size: 20px;
}

.user-detail-section2 small {
  font-size: 12px;
  color: #D3A86A;
}

.profile-right-section {
  padding: 20px 0px 10px 15px;
  background-color: #FFFFFF;
}

.profile-right-section-row {
  margin: 0px;
}

.profile-header-section1 h1 {
  font-size: 25px;
  margin: 0px;
}

.profile-header-section1 h5 {
  color: #0062cc;
}

.req-btn {
  height: 30px;
  font-size: 12px;
}

.profile-tag {
  padding: 10px;
  border: 1px solid #F6F6F6;
}

.profile-tag p {
  font-size: 12px;
  color: black;
}

.profile-tag i {
  color: #ADADAD;
  font-size: 20px;
}

.image-right-part {
  background-color: #FCFCFC;
  margin: 0px;
  padding: 5px;
}

.img-main-rightPart {
  background-color: #FCFCFC;
  margin-top: auto;
}

.image-right-detail {
  padding: 0px;
}

.image-right-detail p {
  font-size: 12px;
}

.image-right-detail a:hover {
  text-decoration: none;
}

.image-right img {
  width: 100%;
}

.image-right-detail-section2 {
  margin: 0px;
}

.image-right-detail-section2 p {
  color: #38ACDF;
  margin: 0px;
}

.image-right-detail-section2 span {
  color: #7F7F7F;
}

.avatar {
  cursor: pointer;
}

.color-checker {
  input[type="radio"] {
    display: none;
  }

  input[type="radio"] + i {
    opacity: 0;
  }

  input[type="radio"]:checked + i {
    opacity: 1;
  }

  .radio-btn-purple {
    background-color: $material-purple;
  }

  .radio-btn-pink {
    background-color: $material-pink;
  }

  .radio-btn-blue {
    background-color: $material-blue;
  }

  .radio-btn-teal {
    background-color: $material-teal;
  }

  .radio-btn-green {
    background-color: $material-green;
  }

  .radio-btn-orange {
    background-color: $material-orange;
  }

  .radio-btn-brown {
    background-color: $material-brown;
  }

  .radio-btn-grey {
    background-color: $material-grey;
  }
}

.avatar-pop {
  max-width: 1200px !important;
}

.btn-group {
  .btn {
    //border-radius: 5rem;
  }
}

.achievement_container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding-top: 30px;
}

.poster_blocks {
  padding-left: 20px;
  padding-right: 20px;
  width: 500px;
}

.user_stat_box {
  width: 500px;
}

.ui-pnotify-action-bar button{
  cursor: pointer;
}