// Place all the styles related to the Users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

img#cropper{
  width: 90%;
  margin-left: 5%;
  height: 200px;
}