<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 100%;
  }

  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>
<div id="map"></div>
<script>
    let map, infoWindow;
    let currentUserFlag = false// if we cannot get current user's position
    // from the browser, we can get it from database
    let currentId = '<%= current_user_id %>'
    let object = {}// use this object to indicate if the page is re rendered,
    // so we can clear the timeout easily by checking it
    window.mapRefreshSymbol = object

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            currentUserFlag = true//
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setCenter(pos);
                map.setZoom(17);
                let iconUrl = '<%= map_avatar_url current_user %>'
                var marker = new google.maps.Marker({
                    position: pos,
                    title: "Here you are!",
                    animation: google.maps.Animation.DROP,
                    icon: iconUrl.replace(/&amp;/g, '&'),
                });
                marker.setMap(map);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }
    }

    let markerData = []

    function getOthersPosition() {
        $.ajax({
            url: '<%=user_location_working_url %>',
            method: 'get',
            success(data) {
                markerData.forEach((marker) => {
                    marker.setMap(null)
                })
                markerData = data.map((user) => {
                    var marker = new google.maps.Marker({
                        position: {
                            lat: user.latitude,
                            lng: user.longitude
                        },
                        icon: user.avatar_url.replace(/&amp;/g, '&'),
                    });
                    if (currentUserFlag && user.id != currentId) {
                        marker.setMap(map)
                    }
                    return marker
                })
            }
        })
    }

    getOthersPosition()

    function timeout() {
        setTimeout(() => {
            if (window.mapRefreshSymbol != object) return
            timeout();
            getOthersPosition()
        }, 30000)
    }

    timeout()
    // make sure to call initMap
    $(() => {
        initMap()
    })

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
</script>

